* {margin: 0 ; padding: 0 ; font-family: sans-serif ; box-sizing: border-box; }

/* -------------------------------------------------------------------------- */
/*                                  POSITION                                  */
/* -------------------------------------------------------------------------- */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}



/* -------------------------------------------------------------------------- */
/*                                  OVERFLOW                                  */
/* -------------------------------------------------------------------------- */
.overflow-hidden {
    overflow: hidden;
}
.overflow-y-scroll {
    overflow-y: scroll;
}
.overflow-y-hidden {
    overflow-y: hidden;
}
.overflow-x-scroll {
    overflow-x: scroll;
}
.overflow-x-hidden {
    overflow-x: hidden;
}



/* -------------------------------------------------------------------------- */
/*                                    WIDTH                                   */
/* -------------------------------------------------------------------------- */
.vw100 {
    width: 100vw;
}
.width-100-percent {
    width: 100%;
}
/* -------------------------------------------------------------------------- */
/*                                   HEIGHT                                   */
/* -------------------------------------------------------------------------- */
.vh-100 {
    height: 100vh;
}
.height-cent-100 {
    height: 100%;
}



/* -------------------------------------------------------------------------- */
/*                                    BLUR                                    */
/* -------------------------------------------------------------------------- */
.blurred {
    filter: blur(10px);
}
.unblurred {
    filter: none;
}
/* -------------------------------------------------------------------------- */
/*                                 TRANSITION                                 */
/* -------------------------------------------------------------------------- */
.transition-ease {
    transition: .3s ease;
}



/* -------------------------------------------------------------------------- */
/*                                    TEXT                                    */
/* -------------------------------------------------------------------------- */
/* ------------------------------- text align ------------------------------- */
.ta-center {
    text-align: center;
}



/* -------------------------------------------------------------------------- */
/*                                     GAP                                    */
/* -------------------------------------------------------------------------- */
/* ----------------------------------- row ---------------------------------- */
.row-gap-1-px {
    row-gap: 1px;
}
.row-gap-2-px {
    row-gap: 2px;
}
.row-gap-3-px {
    row-gap: 3px;
}
.row-gap-4-px {
    row-gap: 4px;
}
.row-gap-1-rem {
    row-gap: 1rem;
}
.row-gap-2-rem {
    row-gap: 2rem;
}
/* --------------------------------- column --------------------------------- */
.column-gap-1-px {
    column-gap: 1px;
}
.column-gap-2-px {
    column-gap: 2px;
}
.column-gap-1-rem {
    column-gap: 1rem;
}
.column-gap-2-rem {
    column-gap: 2rem;
}
/* -------------------------------------------------------------------------- */
/*                                    FLEX                                    */
/* -------------------------------------------------------------------------- */
.X {
    display: flex;
}
/* ------------------------------ flex (width) ------------------------------ */
.X-flex-1 {
    flex: 1;
}
.X-flex-2 {
    flex: 2;
}
.X-flex-3 {
    flex: 3;
}
.X-flex-4 {
    flex: 4;
}
.X-flex-5 {
    flex: 5;
}
.X-flex-6 {
    flex: 6;
}
.X-flex-7 {
    flex: 7;
}
.X-flex-8 {
    flex: 8;
}
/* ----------------------------- justify content ---------------------------- */
.X-jc-center {
    justify-content: center;
}
.X-jc-space-around {
    justify-content: space-around;
}
.X-jc-space-between {
    justify-content: space-between;
}
.X-jc-space-evenly {
    justify-content: space-evenly;
}
/* ------------------------------- align items ------------------------------ */
.X-ai-center {
    align-items: center;
}
/* ----------------------------- flex-direction ----------------------------- */
.X-fd-column {
    flex-direction: column;
}
.X-fd-row {
    flex-direction: row;
}
/* -------------------------------------------------------------------------- */
/*                                    GRID                                    */
/* -------------------------------------------------------------------------- */
.G {
    display: -ms-grid;
    display: grid;
}
/* ------------------------------ row template ------------------------------ */
.G-two-cols {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.G-one-col {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}